/* ----general */
html {
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: url("./img/bkg.png"); */
  background: lightblue;
}

.wrapper {
  width: 1200px;
  margin: 15px auto;
}
/* ----/general */

/* ----header */
header {
  background: white;
  height: 400px;
  padding: 10px;
}

.header-background {
  /* background: url("./img/header-bkg.png"); */
  background: orange;
  height: 100%;
  position: relative;
}

.logo-container {
  width: 60%;
  margin: 0 auto;
  height: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.logo-container .logo {
  width: 80%;
  font-weight: bold;
}

.logo-container .logo-description {
  font-size: 25px;
  text-transform: uppercase;
}
/* ----/header */

/* ----nav */
nav {
  background: grey;
  text-align: center;
  height: 50px;
}

nav ul {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  /* per centrarlo facilmente */
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav li {
  float: left;
  text-transform: uppercase;
}

nav li a {
  text-decoration: none;
  color: white;
  /* ?messo qui invece che in <li> pensando che avrebbe esteso la zona link, ma non funziona? */
  line-height: 50px;
  padding: calc((50px - 14px)/2 - 1px) 10px;
  /* ?vorrei che la zona cliccabile si estendesse su tutto a; così funziona ma con il porkaround di - 1px? */
}

nav li a:hover {
  background: lightgrey;
  color: black;
}
/* ----/nav */

/* ----content: common rules */
.content-container {
  padding-top: 10px;
}

.feeds, main, .widgets-container {
  float: left;
}

.content-container::after {
  content: "";
  display: table;
  clear: both;
}

.feeds, .main-content, .widget {
  background: white;
  border-radius: 4px;
}

.main-content, .widget {
  padding: 22px;
  font-size: 14px;
}

.content-container h2, .content-container h3 {
  font-size: 22px;
  font-weight: normal;
}

.main-title, .widget-title {
  padding-bottom: 25px;
}

.main-content p, .widget-content {
  line-height: 22px;
}
/* ----/content: common rules */

/* ----section feeds */
.feeds {
  width: 20%;
  padding: 8px;
}

.feeds-title-container {
  position: relative;
  padding-bottom: 5px;
}

.feeds-title-container i {
  color: orange;
  position: absolute;
  top: 0;
}

.feeds-title {
  display: inline-block;
  padding: 8px 0 0 35px;
}

.feeds ul {
  list-style: none;
}

.feeds li {
  padding: 5px 0;
}

.feeds a {
  text-decoration: none;
  color: green;
}
/* ----/section feeds */

/* ----main */
main {
  width: 60%;
  padding: 0 40px;
}

.main-title {
  text-transform: uppercase;
  text-shadow: 1.7px 1.7px lightgrey;
}
/* ----/main */

/* ----widgets-container */
.widgets-container {
  width: 20%;
}

.widget {
  margin-bottom: 30px;
}
/* ----/widgets-container */

/* ----footer */
footer {
  height: 100px;
  background: white;
  border-radius: 4px;
}

footer .copyright {
  font-style: italic;
  text-align: center;
  padding: 5px 0;
  color: lightgrey;
}

footer hr {
  width: 99%;
  margin: 0 auto;
}

footer .social {
  display: inline-block;
}
/* ----/footer */
